
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment :: head">
<title id="pageTitle">Dashboard</title>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="section container">
		<ol class="breadcrumb">
  			<li class="breadcrumb-item active">Dashboard</li>
		</ol>
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Data Diri</h4>
						<hr/>
						<p class="card-text">
							<div class="row">
								<div class="col-sm-5">NIP</div>
								<div class="col-sm-5" th:text="${dosen.id}"></div>
							</div>
							<div class="row">
								<div class="col-sm-5">Nama</div>
								<div class="col-sm-5" th:text="${dosen.nama}"></div>
							</div>
							<div class="row">
								<div class="col-sm-5">Kelas diajar</div>
								<div class="col-sm-5" th:text="${#lists.size(dosen.matakuliahs)}"></div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-sm-12 text-center">
									<form th:action="@{/logout}" method="post">
										<input type="submit" value="Logout" class="btn btn-primary btn-round"/>
									</form>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Daftar Mata Kuliah</h4>
						<p class="card-text">
							<table class="table">
								<thead>
									<tr>
										<th>No.</th>
										<th>Kode Mata Kuliah</th>
										<th>Nama Mata Kuliah</th>
										<th>SKS</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="mk,iterationStatus: ${dosen.matakuliahs}">
										<td th:text="${iterationStatus.count}"></td>
										<td th:text="${mk.kode_mk}"></td>
										<td th:text="${mk.nama}"></td>
										<td th:text="${mk.sks}"></td>
										<td class="text-center">
											<a th:href="${'/detail/' + mk.kode_mk}"><span class="badge badge-primary mr-2">Detail</span></a>
											<a th:href="${'/statistik/' + mk.kode_mk}"><span class="badge badge-primary">Statistik</span></a>
										</td>
									</tr>
								</tbody>
							</table>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>
