<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment :: head">
<title id="pageTitle">Login</title>
</head>

<body class="login-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
                    Sistem Aplikasi Penilaian
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
                
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/img/0361.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain" style="border: 0">
                    <form class="form" th:action="@{/login}" method="post">
                        <div class="header header-primary text-center">
                            <div class="logo-container" style="margin-bottom: 30px">
                                <img src="/img/ui.png" alt="" style="filter: brightness(0) invert(1);opacity:0.75"/>
                            </div>
                            <h5 style="margin-bottom: 30px">Selamat Datang<br/>di Sistem Aplikasi Penilaian</h5>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons education_hat"></i>
                                </span>
                                <input type="text" name="username" class="form-control" placeholder="Username" />
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                <input type="password" name="password" placeholder="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button class="btn btn-primary btn-round btn-lg btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by Kelompok APAP-B6
                </div>
            </div>
        </footer>
    </div>
</body>

</html>