
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment :: head">
<title id="pageTitle">Statistik Mata Kuliah</title>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="section container">
		<ol class="breadcrumb">
  			<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
  			<li class="breadcrumb-item active">Statistik</li>
		</ol>
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">RINGKASAN</h4>
						<hr/>
						<p class="card-text">
							<div class="row">
								<div class="col-sm-5">Kode</div>
								<div class="col-sm-5" th:text="${statistik.kode_mk}"></div> <!-- ${statistik.kode_mk} -->
							</div>
							<div class="row">
								<div class="col-sm-5">Mahasiswa</div>
								<div class="col-sm-5" th:text="${#lists.size(mk.nilais)}"></div> <!-- ${#lists.size(statistik.matakuliah.mahasiswas)} -->
							</div>
							<div class="row">
								<div class="col-sm-5">Term</div>
								<div class="col-sm-5" th:text="${mk.periode}"></div> <!-- ${statistik.matakuliah.periode} -->
							</div>
							<hr/>
							<div class="row">
								<div class="col-sm-12 text-center">
									<a th:href="'/detail/' + ${mk.kode_mk}"><button class="btn btn-primary btn-round" type="button">Detail</button></a>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Statistik</h4>
						<hr/>
						<p class="card-text">
							<div class="row">
								<div class="col-sm-6">
									<strong>Nilai Tertinggi</strong><br/>
									<div th:if="${statistik.nilai_tertinggi>0.0000001}"  th:text="${statistik.nilai_tertinggi}"></div>
					                <div th:if="${statistik.nilai_tertinggi==0.0000001}" th:text="0.0"></div>
					                
									<br/>
									<strong>Nilai Terendah</strong><br/>
									<div th:if="${statistik.nilai_terendah>0.0000001}" th:text="${statistik.nilai_terendah}"></div>
					                <div th:if="${statistik.nilai_terendah==0.0000001}" th:text="0.0"></div>
									
								</div>
								<div class="col-sm-6">
									<strong>Average</strong><br/>
									<div th:text="${statistik.nilai_average}"></div>
									<br/>
									<strong>Standard deviation</strong><br/>
									<div th:text="${statistik.std_deviasi}"></div>
									<br/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-sm-6">
									<strong>Mahasiswa dengan nilai tertinggi</strong><br/>
									<ul th:each="tertinggi, iterationStatus: ${tertinggis}">
										<li th:text="${tertinggi.npmTertinggi} + ' ' + ${tertinggi.namaTertinggi}">NPM - Nama</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<strong>Mahasiswa dengan nilai terendah</strong><br/>
									<ul th:each="terendah, iterationStatus: ${terendahs}">
										<li th:text="${terendah.npmTerendah} + ' ' + ${terendah.namaTerendah}"></li>
									</ul>
								</div>
								<div class="col-sm-4">
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>
